@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans');

.heading {
    height: 117px;
    box-shadow: 0 1px 1px rgba(0, 0, 2, 0.1), inset 0 0 2px rgba(255, 255, 255, 0.35);
    background-color: #ffffff;
}
.logo {
    margin: 10px;
}

.social {
    float: right;

}

.logo2 {
    margin-right: 25px;
    margin-top: -25px;
}

nav {
    float: right;
    margin-top: 40px;
}

.menu {
    padding: 0;
    margin-right: 400px;
    display: block;
}

.menu li {
    float: left;
    display: block;
    margin-right: 21px;

}

.menu li a {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-variant: small-caps;
    text-decoration: none;
}

.inner {
    background-image: url(../img/background3.png);
    background-size: 100%;
    height: 550px;
}

h1 {
    text-align: center;
}

.title {
    width: 100%;
    height: 400px;
}

.title-text {
    text-align: center;
    color: #ffffff;
    font-family: Lobster;
    font-size: 60px;
    padding-top: 150px;
}

span {
    color: #ffffff;
    font-family: "Open Sans";
    margin-left: 540px;
    font-size: 18px;
    font-weight: bold;
    line-height: 36px;
    font-variant: small-caps;
}

.button {
    margin-top: 45px;
    margin-left: 540px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-variant: small-caps;
    text-align: center;
    border: 3px solid #bc2336;
    width: 270px;
}

.text {
    margin-top: 50px;
    color: #000000;
    font-family: 'Lobster', cursive;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.text-1 {
    width: 991px;
    margin-left: 150px;
    text-align: center;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
}

.custom-row {
    margin: 0;
}

.img-first {
    background: url("../img/img1.png");
    min-width: 300px;
    width: 100%;
    min-height: 271px;
    height: 100%;
    background-size: cover;
}

.img-second {
    background: url("../img/img2.png");
    min-width: 300px;
    width: 100%;
    min-height: 271px;
    height: 100%;
    background-size: cover;
}

.img-third {
    background: url("../img/img3.png");
    min-width: 300px;
    width: 100%;
    min-height: 271px;
    height: 100%;
    background-size: cover;
}

.img-fourth {
    background: url("../img/img4.png");
    min-width: 300px;
    width: 100%;
    min-height: 271px;
    height: 100%;
    background-size: cover;
}

.img-fifth {
    background: url("../img/img5.png");
    min-width: 300px;
    width: 100%;
    min-height: 271px;
    height: 100%;
    background-size: cover;
}

.img-sixth {
    background: url("../img/img6.png");
    min-width: 300px;
    width: 100%;
    min-height: 271px;
    height: 100%;
    background-size: cover;
}

.white-circle {
    background: #ffffffc2;
    width: 210px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin: 3%;*/
}

.white-circle:hover {
    color: #bc2336;
}

.contact {
    margin-top: 20px;
    width: 100%;
    height: 246px;
    border: 1px solid #d0d0d0;
    background-color: #000000; 
    text-align: center;
}

h3 {
    margin-top: 35px;
    color: #ffffff;
    font-family: Lobster;
    font-size: 24px;
    font-weight: 400;
}

.contacts {
    margin-top: 25px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-variant: small-caps;
}

.social-logo {
    margin-top: 20px;
    margin-left: 25px;

}

@media screen and (max-width: 960px) {
    .text-1 {
        width: 100%;
        margin: 0 0 25px;
    }

    span {
        margin-left: 250px;
    }
    .button {
        margin-left: 250px;
    }
    .menu {
        margin-right: 150px;
    }
    .logo2 {
        margin-top: -50px;
    }
    .inner {
        height: 350px;
    }
    .title-text {
        padding-top: 70px;
        font-size: 40px;
    }
}

@media screen and (max-width: 600px) {
    .text-1 {
        width: 100%;
    }
    span {
        margin: 90px;
    }
    .button {
        margin: 90px;
    }
}